# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env
**/.env

# Django
media/
staticfiles/

# Mac
.DS_Store

# Node
node_modules/
build/